<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>

    <div id="app">
        <div v-if="showBooks">
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <div v-show="showBooks">Currently showing books</div>

        <!-- <button v-on:click="age++">Increase age</button> -->
        <!-- <button v-on:click="age--">Decrease age</button> -->
        <!-- <div @click="changeTitle('Oathbringer')">Change Title</div> -->

    </div>

    <script src="app.js"></script>
</body>
</html>