@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --dark-color: #3A405A;
    --light-color: #9395D3;
    --complementary-color: #F9DEC9;
}

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
}

#frÃ¥ga{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.kontainer{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    float: right;
}

.btnGrid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    background-color: var(--light-color);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    outline: none;
    height: 50px;
    min-width: 100px;
    border: 1px solid #9395D3;
    transition: all 0.3s;
}

.btn:hover{
    color: #3A405A;
    border: 1px solid #3A405A;
}

.btn.correct{
    background-color: #8bce8b;
    border: 1px solid #8bce8b;
}

.btn.wrong{
    background-color: #ce8b8b;
    border: 1px solid #ce8b8b;
}

.startBtn, .nextBtn, .calcBtn{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
}

.btnKontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

.title{
    text-align: center;
    color: var(--dark-color);
}
.title span{
    color: var(--light-color);
}

/* Kalkylator */

.kalkylator {
    width: 320px;
    height: 520px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    transition: all 0.3s;
    margin: 20px;
}

#display {
    text-align: right;
    height: 100px;
    margin: 10px 20px;
    font-size: 40px;
}

.buttons {
    height: 400px;
}

.button,
.button-tom {
    background-color: var(--light-color);
    transition: all 0.2s;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

#equal {
    background: #8bce8b;
    color: white;
}
#equal:hover {
    background: #66b366;
}

.button:hover {
    background-color: #7879ac;
}