@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root{
    --dark-color: #333333;
    --light-color: #666A86;
    --lighter-color: #95B8D1;
    --body-font: 'Staatliches', cursive;
    --bigger-font: 1.5rem;
    --biggest-font: 2rem;
    --normal-font: 1rem;
    --mega-font: 2.5rem;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    font-family: var(--body-font);
}

header{
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 0 3px var(--light-color);
}

header ul{
    display: grid;
    grid-template-columns: 300px 100px 100px 100px 300px;
}
header li{
    display: inline;
    padding: 20px;
}

header li a{
    color: var(--light-color);
    text-decoration: none;
    padding: 13px;
    font-size: var(--bigger-font);
    transition: .3s ease;
    
}
header li a:hover{
    color: var(--dark-color);
}

header ul #shCart a{
    color: var(--light-color);
    font-size: var(--biggest-font);
}
header ul #shCart a:hover{
    color: var(--dark-color);
}

.logo{
    color: var(--light-color);
    text-decoration: none;
    padding: 13px;
    font-size: var(--biggest-font);
}

section{
    padding: 50px 5%;
}

.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: var(--dark-color);
}

.home img{
    position: absolute;
    width: 100%;
    right: 0;
    top: 134px;
}

.h-text h1{
    position: absolute;
    font-size: var(--mega-font);
    top: 360px;
}

.h-text p{
    position: absolute;
    font-size: var(--biggest-font);
    margin: 0.4rem 0 1.8rem;
    top: 440px;
}

