@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');


:root {
    --dark-color: #4d4949;
    --light-color: #7BA9F8;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    width: 130px;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 2rem;
    padding: 20px;
    color: var(--dark-color);
    margin: 0 3rem;
    font-weight: 600;
    display: block;
}

header .navbar ul li a:hover {
    color: var(--light-color);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 20rem;
    background: #fff;
    border-radius: .5rem;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
}

header .navbar ul li ul li a {
    font-weight: normal;
    font-size: 1.8rem;
}

header .navbar ul li ul li a span {
    font-weight: 600;
    font-size: 1.8rem;
}

header .navbar ul li:hover>ul {
    display: initial;
}

header .sh-cart a {
    font-size: 4rem;
    color: var(--dark-color);
    margin-left: 10rem;
}

header .sh-cart a:hover {
    color: var(--light-color);
}

#menu{
    font-size: 4rem;
    color: var(--dark-color);
    cursor: pointer;
    display: none;
}

/* Home Page */

.home {
    padding: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.home img {
    position: absolute;
    width: 100%;
    right: 0;
    top: 135px;
    z-index: -1;
}

.front-text {
    display: flex;
    flex-direction: column;
    margin-left: 11rem;
    margin-bottom: 12rem;
    width: 20rem;
    text-align: start;
}

.front-text h3 {
    font-size: 4rem;
    color: var(--dark-color);
    padding-bottom: .5rem;
}

.front-text span {
    font-size: 2rem;
    color: var(--dark-color);
    padding-bottom: 2rem;
}

.front-text .btn {
    font-size: 2rem;
    color: var(--dark-color);
    border: solid .3rem var(--dark-color);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
}

.front-text .btn:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}









/* Responsiv tings */
@media (max-width:1024px) {

    header .sh-cart a {
        margin-left: 12rem;
    }

    html {
        font-size: 55%;
    }

    .home img {
        width: 120%;
    }

    .front-text {
        margin-left: 8rem;
        margin-bottom: 30rem;
    }

    .front-text h3 {
        font-size: 3rem;
    }

    .front-text span {
        font-size: 2rem;
    }

    .front-text .btn {
        width: 70%;
        font-size: 2rem;
        border: solid .3rem var(--dark-color);
        padding: .5rem;
    }

}


@media (max-width:991px) {

    header .sh-cart a {
        margin-left: 12rem;
    }

    html {
        font-size: 55%;
    }


    header {
        padding: 1rem;
    }

    .home img {
        width: 120%;
    }

    .front-text {
        margin-left: 3rem;
        margin-bottom: 25rem;
    }

    .front-text h3 {
        font-size: 3rem;
    }

    .front-text span {
        font-size: 1.5rem;
    }

    .front-text .btn {
        width: 70%;
        font-size: 1.5rem;
        border: solid .3rem var(--dark-color);
        padding: .5rem;
    }

}

@media (max-width:768px) {

    header .sh-cart a {
        margin-left: 0rem;
    }
    
    #menu{
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: -120%;
        width: 100%;
        background: #eee;
    }

    header .navbar.active {
        left: 0;
        width: 30%;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background-color: #eee;
    }

    .home img {
        width: 150%;
    }

    .front-text {
        margin-left: 2rem;
        margin-bottom: 20rem;
        background-color: rgba(138, 138, 138, 0.7);
        padding: 2rem;
        width: 35rem;
    }

    .front-text h3 {
        font-size: 3rem;
        color: #fff;
    }

    .front-text span {
        font-size: 2rem;
        color: #fff;
    }

    .front-text .btn {
        width: 60%;
        font-size: 2rem;
        border: solid .3rem #fff;
        padding: 1rem;
        color: #fff;
    }


}

@media (max-width:425px) {

    header .sh-cart a {
        margin-left: 1rem;
    }

    html {
        font-size: 50%;
    }

    .home img {
        width: 180%;
    }

    header .navbar.active {
        left: 0;
        width: 50%;
        border-radius: .5rem;
    }

    .front-text {
        margin-left: 2rem;
        margin-bottom: 40rem;
        background-color: rgba(138, 138, 138, 0.7);
        padding: 2rem;
        width: 25rem;
    }

    .front-text h3 {
        font-size: 2.5rem;
        color: #fff;
    }

    .front-text span {
        font-size: 1.5rem;
        color: #fff;
    }

    .front-text .btn {
        width: 50%;
        font-size: 1.5rem;
        border: solid .3rem #fff;
        padding: .6rem;
        color: #fff;
    }

}

body {
    height: 300rem;
}