@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito:wght@300;400;700&display=swap");

/* font-family: 'Noto Serif', serif;
font-family: 'Nunito', sans-serif; */

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body{
    background-color: #e8e9eb;
}

li,
a,
button {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #313638;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
    background-color: #F7F8F8;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #f04343;
}

.input-group{
    width: 200px;
    margin: 0;
}
