@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    --dark-color: #333333;
    --light-color: #4c4f6b;
    --lighter-color: #95afd1;
    --hover-color: #4c4f6b98;
    --body-font: 'Staatliches', cursive;
    --bigger-font: 1.5rem;
    --biggest-font: 2rem;
    --normal-font: 1rem;
    --mega-font: 2.5rem;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: var(--body-font);
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

nav {
    background-color: #ffffff;
    height: 13vh;
}

.header {
    height: 14vh;
    width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 200px;
}

.main-pages {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-right: 40px;
}

.logo {
    width: 150px;
    margin-left: 40px;
    transition: all 0.3s;
}

.logo:hover {
    opacity: 70%;
}

.products {
    position: relative;
}

.products ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    background: #f2f2f2;
    left: 0px;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    padding: 0;
}

.products li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: +1;
}

.products li:hover {
    background-color: var(--lighter-color);
    border-radius: 3px;
}

.products a {
    color: var(--light-color);
    text-decoration: none;
}

.header button {
    background: none;
    text-decoration: none;
    border: none;
    color: var(--light-color);
    font-size: var(--bigger-font);
    cursor: pointer;
    transition: all 0.3s;
}

.header button:hover {
    color: var(--hover-color);
}

.homeBtn {
    background: none;
    text-decoration: none;
    border: none;
    color: var(--light-color);
    font-size: var(--bigger-font);
    cursor: pointer;
    transition: all 0.3s;
}

.homeBtn:hover {
    color: var(--hover-color);
}

.faqBtn {
    background: none;
    text-decoration: none;
    border: none;
    color: var(--light-color);
    font-size: var(--bigger-font);
    cursor: pointer;
    transition: all 0.3s;
}

.faqBtn:hover {
    color: var(--hover-color);
}

#shCart a {
    color: var(--light-color);
    font-size: var(--biggest-font);
    transition: all 0.3s;
    margin-right: 40px;
    padding: 33px;
}

#shCart a:hover {
    color: var(--hover-color);
}

.products button:focus+ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.all {
    color: #666A86;
    font-weight: 600;
}

section {
    padding: 50px 5%;
}

.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: var(--dark-color);
}

.home img {
    position: absolute;
    width: 100%;
    right: 0;
    top: 145px;
    z-index: -1;
}

.h-text h1 {
    position: absolute;
    font-size: var(--mega-font);
    top: 360px;
    color: var(--light-color);
}

.h-text p {
    position: absolute;
    font-size: var(--biggest-font);
    margin: 0.4rem 0 1.8rem;
    top: 440px;
    color: var(--light-color);
}

.newBtn {
    position: absolute;
    font-size: var(--bigger-font);
    margin: 1rem 0 1.8rem;
    top: 500px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    border: solid var(--light-color);
    transition: all 0.3s;
    color: var(--light-color);
    cursor: pointer;
    text-decoration: none;
}

.newBtn:hover {
    color: #ffffff;
    background-color: var(--light-color);
}

/* Shop */

#shop{
    margin-top: 12rem;
}

.heading {
    text-align: center;
}

.heading span {
    font-size: var(--bigger-font);
    font-weight: 500;
    color: var(--dark-color);
    text-transform: uppercase;
}

.shop-kontainer,
.new-kontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.box {
    width: 400px;
    position: relative;
    box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
}

.box .box-img {
    width: auto;
    height: 400px;
    overflow: hidden;
}

.box .box-img a{
    cursor: pointer;
}

.box .box-img img {
    width: 400px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s;
}

.box .box-img img:hover {
    transform: scale(1.2);
}

.title-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-price h3 {
    font-size: var(--bigger-font);
    font-weight: 600;
    color: var(--dark-color);
}

.title-price p {
    font-size: var(--bigger-font);
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--dark-color);
}

/* Footer */
footer {
    background-color: #ffffff;
    height: auto;
    color: var(--light-color);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: var(--biggest-font);
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1rem;
}

.footer-content p {
    max-width: 500px;
    margin: 1px auto;
    line-height: 28px;
    font-size: var(--normal-font);
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 0 0;
    padding: 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: var(--light-color);
}

.socials a i {
    font-size: 1.5rem;
    transition: 0.3s ease;
}

.socials a:hover i {
    color: var(--hover-color);
}

.footer-bottom {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}